*{
    padding: 0;
    margin: 0;
  }
  body
  {
  background-color:gray;
  width:100%
  }
  header
  {
  height: 70px;
  width: 100%;
  background-color: violet;
  position: fixed;
  
  }
  .head1
  {
    position: absolute;
    top:35px;
    left: 500px;
    text-decoration: none;
    color: white;
  }
  .head2
  {
    position: absolute;
    top:35px;
    left: 600px;
    text-decoration: none;
    color: white;
  }
  .head3
  {
    position: absolute;
    top:35px;
    left: 700px;
    text-decoration: none;
    color: white;
  }
  .head4
  {
    position: absolute;
    top:35px;
    left: 800px;
    text-decoration: none;
    color: white;
  }
  .head5
  {
      position: absolute;
    top:35px;
    right: 500px;
    text-decoration: none;
    color: white;
  }
  .zero
  {
      height: 80px;
      width:70%;
      background-color:white;
      margin-left: 230px;
      margin-top: 60px;
      text-align: center;
      font-size: 30px;
      padding-top: 40px;
  }
  .two
  {
      height: 200px;
      width: 70%;
      background-color: white;
      margin-left:230px ;
      margin-top: 10px;
  }
  .three
  {
      display:flex;
  }
  .four
  {
    margin-top: 20px;
     margin-left: 30px;
      border: 2px solid black; 
     border-radius: 50px; 
     
  }
  .five
  {
      padding-left: 30px;
      padding-top: 70px;
  }
  .six
  {
      height: 350px;
      width:70%;
      background-color: white;
      margin-left:230px ;
      margin-top: -10px;
  }
  h2
  {
      padding-top: 30px;
      padding-left: 20px;
  }
  .seven
  {
      padding-left: 20px;
  }
  .eight
  {
    height: 450px;
    width:70%;
    background-color: white;
    margin-top:10px;
    margin-left: 230px;
  }
  h3
  {
  padding: 20px;
  }
  .head_of_boxs
  {
    display: flex;
    flex-wrap: wrap;
  }
  .nine,.ten
  {
    height: 150px;
    width:400px;
    background-color: whitesmoke;
    margin-right: 20px;
    margin-left: 20px;
    border: 2px solid  white;
    border-radius: 10px;
    box-shadow: 5px 4px 5px white;
  }
   .nineone,.tenone,.zeroone1 
  {
  padding-top: 15px;
  padding-left: 120px;
  
  }
   .ninetwo,.tentwo,.zerotwo2
  {
    padding-top:25px ;
    padding-left: 120px;
    font-size: 20px;
  }
  .ninethree,.tenthree,.zerothree3
  {
    padding-top:25px ;
    padding-left: 80px;
    font-size: 20px;
  }
   .zeroone
  {
    height: 150px;
    width:400px;
    background-color: whitesmoke;
    margin-top: 20px;
    margin-left: 20px;
    border: 2px solid  white;
    border-radius: 10px;
    box-shadow: 5px 4px 5px white;
  } 
   .zerotwo
  {
    height: auto;
    width:70%;
    background-color: white;
    margin-left: 230px;
    margin-top: 10px;
  }
  h4
  {
   font-size: 25px;
   padding-top: 20px;
   padding-left: 30px;
  }
  .zerothree
  {
  padding-left: 30px;
  }
  h6
  {
    margin-top: 0px;
  border: 2px solid gray;
  height: 30px;
  width: 120px;
  font-size: 15px;
  padding-top: 15px;
  border-radius: 8px;
  padding-left: 20px;
  background-color: green;
  }
  footer
  {
  height: 100px;
  width: 100%;
  background-color: blueviolet;
  margin-top: 10px;
  color: white;
  text-align: center;
  align-content: center;
  }
  /* @media (max-width:768px){
    .con{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
  } */